@media (max-width: 480px) {

  body {
    padding: 24px;
  }

  h1 {
    font-size: 26px;
  }

  .line {
  background: transparent;
  padding: 0;
  border-radius: 0;
  }

  .text-wrap {
    height: 90px;
  }

  .sticker-main {
    width: 140px;
    margin-top: 8px;
  }

  .random-sticker {
    width: 60px;
    opacity: 0.75;
  }
}

